.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1b1c1d;
    color: white;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-links {
    display: flex;
    gap: 20px;
  }
  
  .navbar-link {
    color: rgba(249, 211, 180, 1);
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .navbar-link:hover {
    color: rgb(185, 156, 132);
  }
  
  .navbar-profile {
    display: flex;
    align-items: center;
  }
  
  .profile-button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 20px;
    transition: color 0.3s ease;
  }
  
  .profile-button:hover {
    color: #555;
  }
  